<div class="container">

   <legend>Clientes</legend>
   <div class="form-inline">
    <input class="form-control" type="search" placeholder="Buscar.." [(ngModel)]="query">
    <button class="form-control btn btn-primary" (click)="ngOnInit()">OK</button>
   </div>

   <div style="margin-top: 2%; margin-bottom: 2%;" class="form-inline" *ngIf="crud_operation.is_visible">
    <label>Cédula:</label>
    <input class="form-control" type="text" placeholder="Cédula..." [(ngModel)]="current_cliente.cedula">
    <label>Nombre:</label>
    <input class="form-control" type="text" placeholder="Nombre..." [(ngModel)]="current_cliente.nombre">
    <label>Teléfono:</label>
    <input class="form-control" type="text" placeholder="Teléfono..." [(ngModel)]="current_cliente.telefono">
    <label>Dirección:</label>
    <input class="form-control" type="text" placeholder="Dirección..." [(ngModel)]="current_cliente.direccion">

    <button class="btn btn-primary"(click)="save()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      Save
    </button>
    <button class="btn btn-default"(click)="crud_operation.is_visible = false">
      <i class="fa fa-ban" aria-hidden="true"></i>
      Cancel
    </button>
   </div>



   <table style="margin-top: 2%; margin-bottom: 2%;" class="table table-striped table-hover">
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th class="text-right">
        <button class="btn btn-success" (click)="new()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      </th>
    </tr>
    <tr *ngFor="let row of data">
      <td>{{row.cedula}}</td>
      <td>{{row.nombre}}</td>
      <td>{{row.telefono}}</td>
      <td>{{row.direccion}}</td>
      <td class="text-right">
        <div *ngIf="!row.confirm">
          <button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
          <a [routerLink]="['/clientes/', row.id]" class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </div>
        <div *ngIf="row.confirm">
          <button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
          <button class="btn btn-success" (click)="delete(row.id)">Confirm</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="data.length == 0">
      <td colspan="4" class="text-center">No data available</td>
    </tr>
  </table>


</div>
